.order {
  display: flex;
  justify-content: space-between;
  line-height: 1.5625rem;
  align-items: center;
  padding: .2rem;
  margin-bottom: .5rem;
  border-bottom: 2px solid var(--Rose-100);
}
.order:last-child {
  border-bottom: none;
}


.order-details > h5 {
  color: var(--Rose-900);
}

.order-total {
  display: flex;
}

.order-total > :last-child {
  font-weight: bold;
}

.order-total > span {
  font-size: 16px;
  color: var(--Rose-500);
  margin: 0px 5px;
}

